body {
  font-size: 3vh;/* Звернути увагу */
  font-family: Nunito Sans;/* Звернути увагу */
}
.container{
  height: 100vh;
  margin: 0px 8vw 0px 8vw;
  position: relative;
  display: flex;
  /*background-color: yellow;*/
  }
 
.container_item img{ 
  width: 25vw;
  margin: 1vw 1vw 1vw 1vw;
  border-radius: 50%;
  }


.item_1{
  width: 35%;
  height: auto;
  /*background-color: green;*/
  }

.item_2{
  width: 65%;
  height: auto;
  /*background-color: #8383D7;*/
  }

/*FOLLOW ME*/
.social{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  float: left;
  margin: 0.5vw;
  }
.instagram{
  background-color: #FED804;
  }
.telegram{
  background-color: #12B9F0;
 
  }
.youtube{
  background-color: #FA3939;
  }
.pinterest{
  background-color: #FA3939;
  }

  /*FOLLOW ME*/


  /*SEND FORM*/
@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);
#mainform{
width:960px;
margin:20px auto;
padding-top:20px;
font-family: 'Fauna One', serif;
}
#form{
  background-color: #red;
border-radius:2px;
padding:20px 30px;
box-shadow:0 0 15px;
font-size:14px;
font-weight:bold;
width:350px;
margin:20px 250px 0 35px;
float:left;

}


input{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}
input[type=button]{
background-color:#123456;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
font-size:18px;
color:white;
}
textarea{
width:100%;
height:80px;
margin-top:5px;
border-radius:3px;
padding:5px;
resize:none;
}


#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}
  /*SEND FORM*/



